.wrapper {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 10px;
  abbr {
    display: none;
  }
}

.button-custom {
  margin: 60px 0 0 0;
  font-size: 10px;
}

.button-custom a {
  color: white;
  text-decoration: none;
}

.offer-button {
  margin: 20px 0 0 0;
}
