.wel {
  color: grey;
}
.tabs {
  background: LightBlue;
  display: flex;
  padding: 10px 10px 0 10px
}
.tabs a {
  color: white;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: grey;
  flex: 0 0 25%;
  text-align: center;
  padding: 20px 0;
}
.tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
.tab.active {
  background: white;
  color: black;
}

.content {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  margin-left: 65px;
  margin-top: 30px;
}

.sc {
  width: 150px;
}

.lag {
  width: 500px;
}

table {
margin-left: 50px;
}


table, th, td {
 border: 3px solid grey;
 padding:8px
}
