<!-- <h1>Offers#create</h1>
<p>Find me in app/views/offers/create.html.erb</p> -->

<h3>Offer has been created!</h3>
<p>Here are the details of your offer.</p>

<p>Price: <%= @offer.price %></p>
<p>Location: <%= @offer.location %></p>
<p>Date and time: <%= @offer.date_time %></p>

<button type="button" class="btn btn-info"><a href="#">Back to my profile</a></button>

