.card {
  position: relative;
  height: 300px;
  background-size:cover;
  padding: 30px;
  margin: 15px 5px;
  border-radius: 8px;
  box-shadow: 3px 5px 10px grey;
  // text-align: center;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
}

.sitter {
  font-weight: 700;
  color:rgb(89, 157, 209);
  padding: 0 0 30px 0;
}

.cas {
    width: 200px;
    height: 50px;
    padding: 10px;
    margin: 35px auto;
    display: block;
    border-radius: 15px;
}
.cas a {
  // display:flex;
  // justify-content: center;
  color: white;
  font-weight: bold;
  margin:15px;

  &:hover {
    color: black;
    text-decoration: none;
  }
}


.city {
  position:absolute;
  bottom: 10px;
  right: 50px;
  color: white;
  font-weight:bold;
  font-size: 25px;
}

.ico {
  position: absolute;
  bottom: 12px;
  color:red;
  right:20px;
  font-size: 20px;
}

.price {
  position:absolute;
  bottom:12px;
  color:white;
  font-weight:bold;
  font-size: 18px;
  left: 10px;
  // background-color: rgba(0, 0, 0, 0.1);
  // border-radius: 15px;
  padding:0 10px;
}

.city-s {
  // position: relative;
  height: 300px;
  background-size:cover;
  padding: 30px;
  margin: 15px 5px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
}

.map {
  margin-bottom: 30px;
  box-shadow: 2px 2px 3px 5px LightGrey;
  border-radius: 3px;
}
